<div class="level">
    <div class="level-left">
        <div class="level-item">
            <h1 class="title">
                Cadastrar Serviços
            </h1>
        </div>
    </div>
</div>

<div class="columns">
    <div class="column is-narrow">
        <ul class="menu-list">
            <li>
                <a href="CadastrarServicos/CadastrarNovoServico">
                    <span class="icon is-small">
                        <i class="fa fa-wpforms"></i>
                    </span>
                    Cadastrar Novo Serviço
                </a>
            </li>
            <li>
                <a href="CadastrarServicos/CadastrarAlimentacao">
                    <span class="icon is-small">
                        <i class="fa fa-wpforms"></i>
                    </span>
                    Cadastrar Alimentação
                </a>
            </li>
            <li>
                <a href="CadastrarServicos/CadastrarFaxina">
                    <span class="icon is-small">
                        <i class="fa fa-wpforms"></i>
                    </span>
                    Cadastrar Faxina
                </a>
            </li>
            <li>
                <a href="CadastrarServicos/CadastrarReparo">
                    <span class="icon is-small">
                        <i class="fa fa-wpforms"></i>
                    </span>
                    Cadastrar Reparo
                </a>
            </li>
            <li>
                <a href="CadastrarServicos/CadastrarIngrediente">
                    <span class="icon is-small">
                        <i class="fa fa-wpforms"></i>
                    </span>
                    Cadastrar Ingredientes
                </a>
            </li>
            <li>
                <a href="CadastrarServicos/CadastrarReceita">
                    <span class="icon is-small">
                        <i class="fa fa-wpforms"></i>
                    </span>
                    Cadastrar Receita
                </a>
            </li>
        </ul>
    </div>
</div>
