<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                HappyRep
            </h1>
            <h2 class="subtitle">
                Bem-vindo ao HappyRep!
            </h2>
        </div>
    </div>
</section>

<nav class="level">
    <p>
        HappyRep é uma plataforma em que repúblicas podem se conectar com profissionais para a realização de serviços de Faxina,
        Reparo e Nutrição.
    </p>
</nav>

<div class="columns">
    <div class="column">
        <div class="box">
            <section class="section">
                <div class="heading">
                    <h1 class="title" style="text-align:left;">{{num_republicas}}</h1>
                    <h2 class="subtitle" style="text-align:right;float:left;">
                        Repúblicas atendidas
                    </h2>
                    <hr style="clear:both;">
                </div>
            </section>
        </div>
    </div>
    <div class="column">
        <div class="box">
            <section class="section">
                <div class="heading">
                    <h1 class="title" style="text-align:left;">{{num_funcionarios}}</h1>
                    <h2 class="subtitle" style="text-align:right;float:left;">
                        Profissionais cadastrados
                    </h2>
                    <hr style="clear:both;">
                </div>
            </section>
        </div>
    </div>
</div>