<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=7">

  <title>{{title}}</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header class="hero is-light">
    <div class="hero-head">
      <nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item is--brand" href="/">
            <h1 class="title has-text-light">HappyRep</h1>
          </a>
        </div>
      </nav>
    </div>
  </header>

  <div class="wrapper">
    <div class="columns">
      <aside class="column is-2 aside">
        <nav class="menu">

          <p class="menu-label">
            Repúblicas
          </p>
          <ul class="menu-list">
            <li>
              <a href="#">
                <span class="icon is-small">
                  <i class="fa fa-pencil-square-o"></i>
                </span>
                Cadastrar república
              </a>
            </li>
            <li>
              <a href="#">
                <span class="icon is-small">
                  <i class="fa fa-pencil-square-o"></i>
                </span>
                Listar repúblicas
              </a>
            </li>
            <li>
              <a href="#">
                <span class="icon is-small">
                  <i class="fa fa-pencil-square-o"></i>
                </span>
                Cadastrar cômodo
              </a>
            </li>
            <li>
              <a href="#">
                <span class="icon is-small">
                  <i class="fa fa-pencil-square-o"></i>
                </span>
                Listar cômodos
              </a>
            </li>
            <li>
              <a href="/CadastrarMorador">
                <span class="icon is-small">
                  <i class="fa fa-pencil-square-o"></i>
                </span>
                Cadastrar Morador
              </a>
            </li>
	    <li>
              <a href="/AlterarMorador">
                <span class="icon is-small">
                  <i class="fa fa-pencil-square-o"></i>
                </span>
                Alterar Morador
              </a>
            </li>
            <li>
              <a href="#">
                <span class="icon is-small">
                  <i class="fa fa-pencil-square-o"></i>
                </span>
                Listar Moradores
              </a>
            </li>
          </ul>

          <p class="menu-label">
            Pessoas
          </p>
          <ul class="menu-list">
            <li>
              <a href="/CadastrarFuncionario">
                <span class="icon is-small">
                  <i class="fa fa-pencil-square-o"></i>
                </span>
                Cadastrar Funcionario
              </a>
            </li>
            <li>
              <a href="/AlterarFuncionario">
                <span class="icon is-small">
                  <i class="fa fa-pencil-square-o"></i>
                </span>
                Alterar Funcionario
              </a>
            </li>
            <li>
              <a href="/ListaFuncionarios">
                <span class="icon is-small">
                  <i class="fa fa-pencil-square-o"></i>
                </span>
                Lista de Funcionarios
              </a>
            </li>
          </ul>

          <p class="menu-label">
            Serviços
          </p>
          <ul class="menu-list">
            <li>
              <a href="/CadastrarServico">
                <span class="icon is-small">
                  <i class="fa fa-pencil-square-o"></i>
                </span>
                Cadastrar um Serviço
              </a>
            </li>
            <li>
              <a href="/ListaServicos">
                <span class="icon is-small">
                  <i class="fa fa-pencil-square-o"></i>
                </span>
                Lista de Serviços
              </a>
            </li>
          </ul>
        </nav>
      </aside>
      <main class="column main">
        {{{body}}}
      </main>
    </div>
  </div>

  <script src="/javascripts/build.js"></script>
</body>

</html>
