<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                <article class="message is-success">
                    <div class="message-body">
                        Operação efetuada com sucesso!
                    </div>
                </article>
            </h1>
        </div>
    </div>
</section>