<div class="level">
    <div class="level-left">
        <div class="level-item">
            <h1 class="title">
                Deletar Funcionários
            </h1>
        </div>
    </div>
</div>

<div class="columns">
    <div class="column is-narrow">
        <ul class="menu-list">
            <li>
                <a href="ApagarFuncionario/ApagarReparador">
                    <span class="icon is-small">
                        <i class="fa fa-wpforms"></i>
                    </span>
                    Apagar Reparador
                </a>
            </li>
            <li>
                <a href="ApagarFuncionario/ApagarCozinheira">
                    <span class="icon is-small">
                        <i class="fa fa-wpforms"></i>
                    </span>
                    Apagar Cozinheira
                </a>
            </li>
        </ul>
    </div>
</div>