<div class="level">
    <div class="level-left">
        <div class="level-item">
            <h1 class="title">
                Listas de Funcionários
            </h1>
        </div>
    </div>
</div>

<div class="columns">
    <div class="column is-narrow">
        <ul class="menu-list">
            <li>
                <a href="ListaFuncionarios/ListaPessoa">
                    <span class="icon is-small">
                        <i class="fa fa-wpforms"></i>
                    </span>
                    Lista de Pessoas
                </a>
            </li>
            <li>
                <a href="ListaFuncionarios/ListaReparador">
                    <span class="icon is-small">
                        <i class="fa fa-wpforms"></i>
                    </span>
                    Lista de Reparadores
                </a>
            </li>
            <li>
                <a href="ListaFuncionarios/ListaFaxineira">
                    <span class="icon is-small">
                        <i class="fa fa-wpforms"></i>
                    </span>
                    Lista de Faxineiras
                </a>
            </li>
            <li>
                <a href="ListaFuncionarios/ListaCozinheira">
                    <span class="icon is-small">
                        <i class="fa fa-wpforms"></i>
                    </span>
                    Lista de Cozinheiras
                </a>
            </li>
	    <li>
                <a href="ListaFuncionarios/ListaNutricionista">
                    <span class="icon is-small">
                        <i class="fa fa-wpforms"></i>
                    </span>
                    Lista de Nutricionistas
                </a>
            </li>
        </ul>
    </div>
</div>
