<nav class="breadcrumb is-small" aria-label="breadcrumbs">
    <ul>
        <li>
            <a href="/">Página Inicial</a>
        </li>
        <li class="is-active">
            <a href="#" aria-current="page">Lista de Receitas</a>
        </li>
    </ul>
</nav>

<div class="level">
    <div class="level-left">
        <div class="level-item">
            <h1 class="title">
                Lista de receitas
            </h1>
        </div>
    </div>
</div>

<table class="table is-fullwidth is-striped is-hoverable">
    <thead>
        <tr>
            <th></th>
            <th>Id receita</th>
            <th>Nome</th>
            <th>Descrição</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th></th>
            <th>Id servico</th>
            <th>Nome</th>
            <th>Descrição</th>
        </tr>
    </tfoot>
    <form method="POST" action="/ApagarServicos/ApagarReceita">
        <tbody>
            {{#each receitas}}
            <tr>
                <th>
                    <button name="id_receita" type="submit" value="{{id_receita}}">
                        <span class="icon is-small">
                            <i class="fa fa-times"></i>
                        </span>
                    </button>
                </th>
                <th>{{id_receita}}</th>
                <td>{{nome_receita}}</td>
                <td>{{descricao_receita}}</td>
            </tr>
            {{/each}}
        </tbody>
    </form>
</table>
