<div class="level">
    <div class="level-left">
        <div class="level-item">
            <h1 class="title">
                Deletar Serviços
            </h1>
        </div>
    </div>
</div>

<div class="columns">
    <div class="column is-narrow">
        <ul class="menu-list">
            <li>
                <a href="ApagarServico/ApagarAlimentacao">
                    <span class="icon is-small">
                        <i class="fa fa-wpforms"></i>
                    </span>
                    Apagar Alimentação
                </a>
            </li>
            <li>
                <a href="ApagarServico/ApagarFaxina">
                    <span class="icon is-small">
                        <i class="fa fa-wpforms"></i>
                    </span>
                    Apagar Faxina
                </a>
            </li>
            <li>
                <a href="ApagarServico/ApagarReparo">
                    <span class="icon is-small">
                        <i class="fa fa-wpforms"></i>
                    </span>
                    Apagar Reparo
                </a>
            </li>
		</ul>
    </div>
</div>