<div class="level">
    <div class="level-left">
        <div class="level-item">
            <h1 class="title">
                Listas de Serviços
            </h1>
        </div>
    </div>
</div>

<div class="columns">
    <div class="column is-narrow">
        <ul class="menu-list">
            <li>
                <a href="ListaServicos/ListaTodosServicos">
                    <span class="icon is-small">
                        <i class="fa fa-wpforms"></i>
                    </span>
                    Lista de Serviços (geral)
                </a>
            </li>
            <li>
                <a href="ListaServicos/ListarAlimentacao">
                    <span class="icon is-small">
                        <i class="fa fa-wpforms"></i>
                    </span>
                    Lista de Alimentações
                </a>
            </li>
            <li>
                <a href="ListaServicos/ListarIngrediente">
                    <span class="icon is-small">
                        <i class="fa fa-wpforms"></i>
                    </span>
                    Listar Ingredientes
                </a>
             </li>
            <li>
                <a href="ListaServicos/ListarFaxina">
                    <span class="icon is-small">
                        <i class="fa fa-wpforms"></i>
                    </span>
                    Lista de Faxinas
                </a>
            </li>
            <li>
                <a href="ListaServicos/ListarReparo">
                    <span class="icon is-small">
                        <i class="fa fa-wpforms"></i>
                    </span>
                    Lista de Reparos
                </a>
            </li>
        </ul>
    </div>
</div>
