<div class="level">
    <div class="level-left">
        <div class="level-item">
            <h1 class="title">
                Alterar Funcionário
            </h1>
        </div>
    </div>
</div>

<div class="columns">
    <div class="column is-narrow">
        <ul class="menu-list">
            <li>
                <a href="AlterarFuncionario/AlterarReparador">
                    <span class="icon is-small">
                        <i class="fa fa-wpforms"></i>
                    </span>
                    Alterar Reparador
                </a>
            </li>
            <li>
                <a href="AlterarFuncionario/AlterarCozinheira">
                    <span class="icon is-small">
                        <i class="fa fa-wpforms"></i>
                    </span>
                    Alterar Cozinheira
                </a>
            </li>
            <li>
                <a href="AlterarFuncionario/AlterarNutricionista">
                    <span class="icon is-small">
                        <i class="fa fa-wpforms"></i>
                    </span>
                    Alterar Nutricionista
                </a>
            </li>
        </ul>
    </div>
</div>
