<div class="level">
    <div class="level-left">
        <div class="level-item">
            <h1 class="title">
                Cadastrar Funcionário
            </h1>
        </div>
    </div>
</div>

<div class="columns">
    <div class="column is-narrow">
        <ul class="menu-list">
            <li>
                <a href="CadastrarFuncionario/CadastrarPessoa">
                    <span class="icon is-small">
                        <i class="fa fa-wpforms"></i>
                    </span>
                    Cadastrar Pessoa
                </a>
            </li>
            <li>
                <a href="CadastrarFuncionario/CadastrarReparador">
                    <span class="icon is-small">
                        <i class="fa fa-wpforms"></i>
                    </span>
                    Cadastrar Reparador
                </a>
            </li>
            <li>
                <a href="CadastrarFuncionario/CadastrarFaxineira">
                    <span class="icon is-small">
                        <i class="fa fa-wpforms"></i>
                    </span>
                    Cadastrar Faxineira
                </a>
            </li>
            <li>
                <a href="CadastrarFuncionario/CadastrarCozinheira">
                    <span class="icon is-small">
                        <i class="fa fa-wpforms"></i>
                    </span>
                    Cadastrar Cozinheira
                </a>
            </li>
        </ul>
    </div>
</div>