<div class="level">
    <div class="level-left">
        <div class="level-item">
            <h1 class="title">
                Cadastrar Serviço
            </h1>
        </div>
    </div>
</div>

<div class="columns">
    <div class="column is-narrow">
        <ul class="menu-list">
		    <li>
                <a href="CadastrarServico/CadastrarNovoServico">
                    <span class="icon is-small">
                        <i class="fa fa-wpforms"></i>
                    </span>
                    Cadastrar Novo Serviço
                </a>
            </li>
            <li>
                <a href="CadastrarServico/CadastrarAlimentacao">
                    <span class="icon is-small">
                        <i class="fa fa-wpforms"></i>
                    </span>
                    Cadastrar Alimentação
                </a>
            </li>
            <li>
                <a href="CadastrarServico/CadastrarFaxina">
                    <span class="icon is-small">
                        <i class="fa fa-wpforms"></i>
                    </span>
                    Cadastrar Faxina
                </a>
            </li>
            <li>
                <a href="CadastrarServico/CadastrarReparo">
                    <span class="icon is-small">
                        <i class="fa fa-wpforms"></i>
                    </span>
                    Cadastrar Reparo
                </a>
            </li>
            <li>
        </ul>
    </div>
</div>